/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
  text-align: center;
  position: relative;
  padding: 75px 0;
}

.site-header__branding {
  position: relative;
  display: inline-block;
}

/*--------------------------------------------------------------
# Site Header Title
--------------------------------------------------------------*/

.site-header__title {
  z-index: 3;
  margin: 0;
  font-size: 4em;
  font-family: var(--font-header);
  padding: 0;
  position: relative;
}

.site-header__title a {
  text-shadow: 1px 1px 2px hsl(var(--rich-black));
  text-decoration: none;
  color: hsl(var(--white-smoke));
  margin: 0;
  padding: 0;
}

.site-header__title a:hover {
  transform: none;
}

/*--------------------------------------------------------------
# Site Header Description
--------------------------------------------------------------*/
.site-header__description {
  z-index: 4;
  font-family: var(--font-callout);
  color: hsl(var(--radical-red));
  font-size: 3em;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  transform: rotate(-15deg);
  position: absolute;
  right: -55px;
  top: 45%;
  display: inline-block;
  text-shadow: 1px 1px 2px hsl(var(--russian-violet));
}

/*--------------------------------------------------------------
# Site Header Decoration
--------------------------------------------------------------*/
.site-header__decoration {
  position: absolute;
  top: -50px;
  left: 0;
}

.site-header__decoration--front {
  z-index: 2;
  -webkit-filter: drop-shadow( 0px 0px 10px hsl(var(--turquoise)) );
          filter: drop-shadow( 0px 0px 10px hsl(var(--turquoise)) );
}

.site-header__decoration--back {
  z-index: 1;
  -webkit-filter: drop-shadow( 0px 0px 10px hsl(var(--pumpkin)) );
          filter: drop-shadow( 0px 0px 10px hsl(var(--pumpkin)) );
}
