.main-navigation {
  transition: 1s ease-out;
  width: var(--nav-width);
  height: 100%;
  z-index: 4;
  position: fixed;
  left: 0;
  background: hsl(var(--rich-black));
}

.main-navigation.menu-closed {
  left: calc(-1 * var(--nav-width));
}

@media screen and ( min-width: 700px ) {
  .main-navigation {
    left: 0;
  }
  .main-navigation.menu-closed {
    left: 0;
  }
}

.menu-menu-1-container {
  height: 100%;
}

.main-navigation .menu {
  transition: 1s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background: hsl(var(--rich-black));
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-navigation .menu .menu-item {
  list-style: none;
}

.main-navigation svg {
  width: 50px;
  height: 50px;
  fill: hsl(var(--pumpkin));
}

.main-navigation .menu .menu-item a {
  text-decoration: none;
  color: hsl(var(--pumpkin));
  font-family: var(--font-header);
  font-size: 1.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation .menu .menu-item a:hover {
  color: hsl(var(--turquoise));
  text-shadow: 1px 1px 2px hsl(var(--pumpkin));
  transform: none;
}

.main-navigation .menu-item a:hover svg {
  width: 50px;
  height: 50px;
  fill: hsl(var(--turquoise));
}

/* CURRENT PAGE STYLES */

.main-navigation .menu .current-menu-item a {
  color: hsl(var(--turquoise));
}

.main-navigation .current-menu-item svg {
  width: 50px;
  height: 50px;
  fill: hsl(var(--turquoise));
}

.main-navigation .menu .current-menu-item a:hover {
  text-shadow: 1px 1px 2px hsl(var(--pumpkin));
}

.main-navigation .current-menu-item a:hover svg {
  width: 50px;
  height: 50px;
  fill: hsl(var(--pumpkin));
}

/* MENU CLOSED STYLES */
.menu-closed .menu a span {
  visibility: hidden;
}


/*--------------------------------------------------------------
# Toggle Styles
--------------------------------------------------------------*/

#menu-toggle {
  --menu-toggle-size: 50px;
  --main-color: var(--turquoise);
  --secondary-color: var(--radical-red);
  position: fixed;
  top: 20px;
  left: calc((var(--nav-width) - var(--menu-toggle-size)) / 2);
  transition: 1s ease-out;
  overflow: hidden;
  text-indent: -1000px;
  height: var(--menu-toggle-size);
  width: var(--menu-toggle-size);
  z-index: 5;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 20px 8px hsla(var(--main-color), .6);
  background-color: transparent;
  background-image: linear-gradient(
    to top,
    hsl(var(--main-color)) 0%,
    hsl(var(--main-color)) 48%,
    hsl(var(--secondary-color)) 48%,
    hsl(var(--secondary-color)) 55%,
    hsl(var(--main-color)) 55%,
    hsl(var(--main-color)) 60%,
    hsl(var(--secondary-color)) 60%,
    hsl(var(--secondary-color)) 65%,
    hsl(var(--main-color)) 65%,
    hsl(var(--main-color)) 70%,
    hsl(var(--secondary-color)) 70%,
    hsl(var(--secondary-color)) 75%,
    hsla(var(--main-color), 0) 75%,
    hsla(var(--main-color), 0) 79%,
    hsl(var(--secondary-color)) 79%,
    hsl(var(--secondary-color)) 84%,
    hsla(var(--main-color), 0) 84%,
    hsla(var(--main-color), 0) 88%,
    hsl(var(--secondary-color)) 88%,
    hsl(var(--secondary-color)) 92%,
    hsla(var(--main-color), 0) 92%,
    hsla(var(--main-color), 0) 96%,
    hsl(var(--secondary-color)) 96%,
    hsl(var(--secondary-color)) 98%,
    hsla(var(--main-color), 0) 98%,
    hsla(var(--main-color), 0) 100%
  );
}

#menu-toggle.closed {
  --main-color: var(--radical-red);
  --secondary-color: var(--pumpkin);
  transform: rotate(180deg);
}
