.post-single {
  width: 80%;
  padding: 15px 20px;
  margin: 0 auto;
  color: hsl(var(--white-smoke));
}

.post-single .wp-block-image {
  padding-bottom: 10px;
  margin: 1.2em 0;
  border: 3px solid hsl(var(--white-smoke));
  background-color: hsla(var(--rich-black), .7);
  box-shadow:
      0 0 0 3px hsl(var(--white-smoke)),
      0 0 20px 8px hsla(var(--radical-red), .6);
}