/*
Fonts:
https://fonts.google.com/specimen/Roboto
Styles: Regular(400), Regular(italics), Bold(700)
font-family: 'Roboto', sans-serif;

https://fonts.google.com/specimen/Righteous
Styles: Regular(400)
font-family: 'Righteous', cursive;
*/

:root {
  --font-header: 'Permanent Marker', cursive;
  --font-normal: 'Roboto', sans-serif;
  --font-callout: 'Bilbo', cursive;
}

/*--------------------------------------------------------------
# Root Pixel Size && Base Color & Family
--------------------------------------------------------------*/

html {
  color: hsl(var(--white-smoke));
  font-family: var(--font-normal);
  font-size: 16px;
}

@media screen and (min-width: 300px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 300px) / 700));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/

h1 {
  font-family: var(--font-header);
  color: hsl(var(--turquoise));
  text-shadow: 1px 1px 2px hsla(var(--radical-red), 1);
  font-size: 2em;
}

h2 {
  font-family: var(--font-header);
  color: hsl(var(--radical-red));
  text-shadow: 1px 1px 2px hsla(var(--turquoise), 1);
  font-size: 1.7em;
}

h3 {
  color: hsl(var(--turquoise));
  text-shadow: 1px 1px 2px hsla(var(--rich-black), 1);
  font-size: 1.5em;
}

h4 {
  color: hsl(var(--turquoise));
  text-shadow: 1px 1px 2px hsla(var(--rich-black), 1);
  font-weight: 400;
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

/*--------------------------------------------------------------
# Code Blocks
--------------------------------------------------------------*/

pre {
	background-color: hsl(var(--white-smoke));
	max-width: 100%;
	overflow: auto;
  padding: 1.6em;
  color: hsl(var(--rich-black));
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.7em;
}


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: hsl(var(--turquoise));
  text-decoration: none;
  display: inline-block;
  transition: 0.5s;
  position: relative;
}

a:visited {
  color: hsl(var(--turquoise));
}

a:hover, a:focus, a:active {
  transform: scale(0.9);
  text-shadow: 1px 1px 2px hsl(var(--rich-black));
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid hsl(var(--turquoise));
  width: 100%;
  transition: 0.5s;
  height: 1px;
}

a:hover::before {
  width: 5%;
}

/*--------------------------------------------------------------
## Inline
--------------------------------------------------------------*/

