/*
OutRun:
Highlight 1: #FF6C11, hsl(23, 100%, 53%)
Highlight 2: #FF3864, hsl(347, 100%, 61%)
Highlight 3: #2DE2E6, hsl(181, 79%, 54%)

Dark Primary: #0D0221, hsl(261, 89%, 7%)
Dark Secondary: #261447, hsl(261, 56%, 18%)

White: #f5f5f5, hsl(0, 0%, 96%)
*/

/*
DuskDrive:
Highlight 1: #fd1f53, hsl(346, 98%, 56%)
Highlight 2: #fd3777, hsl(341, 98%, 60%)
Highlight 3: #f706cf, hsl(310, 95%, 50%)

Dark Primary: #241734, hsl(267, 39%, 15%)
Dark Secondary: #2e2157, hsl(254, 45%, 24%)

White: #f5f5f5, hsl(0, 0%, 96%)
*/

/*
BeachRun:
Highlight 1: #f9c80e, hsl(47, 95%, 52%)
Highlight 2: #ff4365, hsl(349, 100%, 63%)
Highlight 3: #541388, hsl(273, 75%, 30%)

Dark Primary: #540d63, hsl(290, 77%, 22%)
Dark Secondary: #791e94, hsl(286, 66%, 35%)

White: #f5f5f5, hsl(0, 0%, 96%)
*/